@import url('https://fonts.googleapis.com/css2?family=Arvo&display=swap');

.Avatar img {
    height: 80px;
    border-radius: 50%;
}


.FollowButton {
    width: 80px;
    color: 20px;
    background-color: rgba(92, 112, 202, 0.5);
    border-radius: 8px;
}

.UserCard {
    border: 2px solid black;
    width: 300px;
    height: 120px;
}

.avatarBlock {
    height: 120px;
    width: 100px;
    float: left;
    position: relative;
}

.userInfo {
    width: 120px;

}

.infoBlock {
    float: right;
    width: 60%;
}

.page {
transition: all .2s;
margin-left: 4px;
}

.page:hover {
    font-size: 35px;
    color: #fdbe34;
    cursor: pointer;
}

.SelectedPage {
    font-weight: bold;
    font-weight: 400;
    font-size: 35px;
    color: #fdbe34;
}

.PagesContainer {
    padding-top: 10px;
    height: 40px;
    font-family: 'Arvo', serif;
    font-weight: 300;
    font-size: 23px;
    transition: all .8s;
}

