.PagesContainer {
    padding-top: 10px;
    height: 40px;
    font-family: "Arvo", serif;
    font-weight: 300;
    font-size: 23px;
    transition: all 0.8s;
}
.page {
    transition: all 0.2s;
    margin-left: 4px;
}

.page:hover {
    font-size: 35px;
    color: #fdbe34;
    cursor: pointer;
}

.SelectedPage {
    font-weight: bold;
    font-weight: 400;
    font-size: 35px;
    color: #fdbe34;
}
